body{
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 255, 8));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Doto", sans-serif;
}

h1{
    padding-top:90px ;
    color: rgb(0, 255, 0);
    font-size: 70px;
}

.seconds div{
    display: inline-flex;
    font-size: 50px;
    padding: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    color: rgb(0, 255, 0);
    border-radius: 5px;
    font-family: "Doto", sans-serif;
}